{% extends 'student.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block content %}
    <br>
    <p>姓名：{{ name }}</p>
    <p>性别：{{ gender }}</p>
    <p>学院：{{ college }}</p>
    <p>专业：{{ major }}</p>
    <br>

    <!-- 修改个人信息 -->
    <h5>修改个人信息：</h5>
    <form method="POST" action="{{ url_for('student_bp.student_account', sno=sno) }}">
        <div>
            <label for="name">姓名：</label>
            <input type="text" name="name" value="{{ name }}" required>
        </div>
        <div>
            <label for="gender">性别：</label>
            <select name="gender" required>
                <option value="男" {% if gender == '男' %}selected{% endif %}>男</option>
                <option value="女" {% if gender == '女' %}selected{% endif %}>女</option>
            </select>
        </div>
        <div>
            <label for="college">学院：</label>
            <input type="text" name="college" value="{{ college }}" required>
        </div>
        <div>
            <label for="major">专业：</label>
            <input type="text" name="major" value="{{ major }}" required>
        </div>

        <button type="submit" name="action" value="update_info">提交个人信息</button>
    </form>

    <br><br>

    <!-- 修改密码 -->
    <h5>修改密码：</h5>
    <form method="POST" action="{{ url_for('student_bp.student_account', sno=sno) }}">
        <div>
            <label>原密码：</label>
            <input type="password" name="secret" placeholder="请输入原密码" required>   
        </div>
        <div>
            <label>新密码：</label>
            <input type="password" name="password" placeholder="请输入新密码" required>   
        </div>
        <button type="submit" name="action" value="update_password">修改密码</button>       
    </form>

{% endblock %}