{% extends 'base.html' %}
{% from 'bootstrap/nav.html' import render_nav_item %}

{% block head %}
    {{ render_nav_item('student_bp.profile', sno, sno=sno) }}
    {{ render_nav_item('student_bp.student_account', '个人信息', sno=sno) }}
    {{ render_nav_item('student_bp.student_course_select', '学生选课', sno=sno) }}
    {{ render_nav_item('student_bp.student_course_delete', '学生退课', sno=sno) }}
    {{ render_nav_item('student_bp.student_accuracy', '查看答题正确率', sno=sno) }}
    {{ render_nav_item('login_bp.index', '退出登录') }}
{% endblock %}
